@model Dia_Supermarket.Models.tb_Admins

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/Admin/_LayoutBasic_Admin.cshtml";
}

@if (@TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["success"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!-- Form grid Start -->
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Edit Profile</h4>
            <p class="mb-30">Please fill all fields to proceed</p>
        </div>
        <div class="pull-right">

        </div>
    </div>
    @using (Html.BeginForm("EditProfile", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.admin_id)
        @Html.HiddenFor(model => model.join_date)
        @Html.HiddenFor(model => model.verified_user)

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>First Name</label>
                    @Html.EditorFor(model => model.first_name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "First Name"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>NIC Number</label>
                    @Html.EditorFor(model => model.NIC_num, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "NIC Number"
                        }
                     })
                    @Html.ValidationMessageFor(model => model.NIC_num, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Email Address</label>
                    @Html.EditorFor(model => model.email_address, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            type = "email",
                            placeholder = "Email Address",
                            @readonly = "readonly"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.email_address, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Password</label>
                    <div class="row">
                        <div class="col-6">
                            @Html.EditorFor(model => model.admin_password, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    type = "password",
                                    placeholder = "Password"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.admin_password, "", new { @class = "text-danger small font-weight-bold" })
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(model => model.confirm_password, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    type = "password",
                                    placeholder = "Confirm Password"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.confirm_password, "", new { @class = "text-danger small font-weight-bold" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Contact Number</label>
                    @Html.EditorFor(model => model.contact_num, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            type = "tel",
                            placeholder = "Contact Number as 0333(-)1234567"
                        }
                     })
                    @Html.ValidationMessageFor(model => model.contact_num, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Gender</label>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline pb-0">
                            @Html.RadioButtonFor(model => model.gender, "male", new { @class = "custom-control-input", id = "male" })
                            <label class="custom-control-label" for="male">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline pb-0">
                            @Html.RadioButtonFor(model => model.gender, "female", new { @class = "custom-control-input", id = "female" })
                            <label class="custom-control-label" for="female">Female</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger small font-weight-bold" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Date of Birth</label>
                    @Html.EditorFor(model => model.DOB, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control date-picker",
                            placeholder = "Select Date of Birth"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Nationality</label>
                    @Html.EditorFor(model => model.nationality, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "Nationality"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Address</label>
                    @Html.EditorFor(model => model.user_address, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "Address"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.user_address, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>City</label>
                    @Html.EditorFor(model => model.city, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "City"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Country</label>
                    @Html.EditorFor(model => model.country, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = "Country"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Postal Code</label>
                    @Html.EditorFor(model => model.postal_code, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            type = "number",@*min="10000", max = "99999",*@ placeholder = "Postal Code"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.postal_code, "", new { @class = "text-danger small font-weight-bold" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="pull-left"></div>
                <div class="pull-right">
                    <button class="btn btn-primary btn-sm scroll-click">Save Changes</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- Form grid End -->