
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dia Supermarket - @ViewBag.title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Templates/Admin/vendors/images/logo.png">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Templates/Front/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Templates/Front/css/animate.css">

    <link rel="stylesheet" href="~/Templates/Front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Templates/Front/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Templates/Front/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Templates/Front/css/aos.css">

    <link rel="stylesheet" href="~/Templates/Front/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Templates/Front/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Templates/Front/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Templates/Front/css/flaticon.css">
    <link rel="stylesheet" href="~/Templates/Front/css/icomoon.css">
    <link rel="stylesheet" href="~/Templates/Front/css/style.css">
</head>
<body class="goto-here">
    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex justify-content-around">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+92 3343215576</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">contact@diasupermarket.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">1-2 Business days delivery at PKR 199 only</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Templates/Front/images/logo.png" height="50" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Shop", "Home")">Shop</a></li>
                    <li class="nav-item"><a href="@Url.Action("About", "Home")" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contact", "Home")" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            @if (Session["user_id"] == null)
                            {
                                <a class="dropdown-item text-uppercase" href="@Url.Action("Login", "Home")">Login</a>
                                <a class="dropdown-item text-uppercase" href="@Url.Action("Register", "Home")">Register</a>
                            }
                            else
                            {
                                <a class="dropdown-item text-uppercase" href="@Url.Action("OrdersHistory", "User")">My Orders</a>
                                <a class="dropdown-item text-uppercase" href="@Url.Action("Wishlist", "User")">Wishlist</a>
                                <a class="dropdown-item text-uppercase" href="@Url.Action("EditProfile", "User")">Profile Settings</a>
                                <a class="dropdown-item text-uppercase" href="@Url.Action("Logout", "User")">Logout</a>
                            }
                        </div>
                    </li>

                    <li class="dropdown dropdown-cart">
                        <div>
                            <button type="button" class="btn-cart btn-green" data-toggle="dropdown">
                                <span class="icon-shopping_cart"></span>&nbsp;<span class="badge badge-pill badge-danger">3</span>
                            </button>
                            <div class="dropdown-menu">
                                <div class="row total-header-section">
                                    <div class="col-lg-12 col-sm-12 col-12 total-section text-center">
                                        <p>Total: <span class="text-green">PKR 2,978.24</span></p>
                                    </div>
                                </div>
                                <div class="cart-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/811OyrCd5hL._SX425_.jpg">
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
                                            <p>Sony DSC-RX100M..</p>
                                            <span class="price text-green"> PKR 250.22</span> <span class="count"> Quantity:01</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                                            <img src="https://cdn2.gsmarena.com/vv/pics/blu/blu-vivo-48-1.jpg">
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
                                            <p>Vivo DSC-RX100M..</p>
                                            <span class="price text-green"> PKR 500.40</span> <span class="count"> Quantity:01</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                                            <img src="https://static.toiimg.com/thumb/msid-55980052,width-640,resizemode-4/55980052.jpg">
                                        </div>
                                        <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
                                            <p>Lenovo DSC-RX100M..</p>
                                            <span class="price text-green"> PKR 445.78</span> <span class="count"> Quantity:01</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-6 text-center checkout">
                                        <a class="btn btn-primary" href="@Url.Action("DisplayCart", "Home")">Go to Cart</a>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-6 text-center checkout">
                                        <a class="btn btn-primary" href="@Url.Action("Checkout", "Home")">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        @*<h2 class="ftco-heading-2">Vegefoods</h2>*@
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Templates/Front/images/logo.png" height="50" alt=""></a>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://twitter.com/"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2 text-green text-uppercase">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index", "Home")" class="py-2 d-block">Home</a></li>
                            <li><a href="@Url.Action("Shop", "Home")" class="py-2 d-block">Shop</a></li>
                            <li><a href="@Url.Action("About", "Home")" class="py-2 d-block">About</a></li>
                            <li><a href="@Url.Action("Contact", "Home")" class="py-2 d-block">Contact</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 text-green text-uppercase">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="@Url.Action("ShippingInformation", "Home")" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="@Url.Action("ReturnsAndExchange", "Home")" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="@Url.Action("TermsAndConditions", "Home")" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy", "Home")" class="py-2 d-block">Privacy Policy</a></li>
                                <li><a href="@Url.Action("FAQs", "Home")" class="py-2 d-block">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 text-green text-uppercase">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li class="mb-3"><span class="icon icon-map-marker text-green"></span><span class="text">Shop # 2A3. Hassan Square, Gulshan-e-Iqbal, Karachi, Pakistan</span></li>
                                <li class="mb-3"><span class="icon icon-phone text-green"></span><span class="text">+92 334 3215576</span></li>
                                <li><a href="mailto: contact@diasupermarket.com"><span class="icon icon-envelope text-green"></span><span class="text" style="padding-left: 20px">contact@diasupermarket.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <img src="~/Templates/Admin/vendors/images/logo.png" style="height: 30px; margin-right: 5px" /> Dia Supermarket - &copy; All Rights Reserved @DateTime.Now.Year
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Templates/Front/js/jquery.min.js"></script>
    <script src="~/Templates/Front/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Templates/Front/js/popper.min.js"></script>
    <script src="~/Templates/Front/js/bootstrap.min.js"></script>
    <script src="~/Templates/Front/js/jquery.easing.1.3.js"></script>
    <script src="~/Templates/Front/js/jquery.waypoints.min.js"></script>
    <script src="~/Templates/Front/js/jquery.stellar.min.js"></script>
    <script src="~/Templates/Front/js/owl.carousel.min.js"></script>
    <script src="~/Templates/Front/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Templates/Front/js/aos.js"></script>
    <script src="~/Templates/Front/js/jquery.animateNumber.min.js"></script>
    <script src="~/Templates/Front/js/bootstrap-datepicker.js"></script>
    <script src="~/Templates/Front/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
    <script src="~/Templates/Front/js/google-map.js"></script>
    <script src="~/Templates/Front/js/main.js"></script>

</body>
</html>
