@model Dia_Supermarket.Models.tb_Products
@{
    ViewBag.Title = @Html.DisplayFor(model => model.product_name);
    Layout = "~/Views/Shared/Front/_LayoutBasic_Front.cshtml";
}


<div class="hero-wrap hero-bread" style="background-image: url('/Templates/Front/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span> <span class="mr-2"><a href="@Url.Action("Shop", "Home")">Shop</a></span> <span>@Html.DisplayFor(model => model.product_name)</span></p>
                <h1 class="mb-0 bread">@Html.DisplayFor(model => model.product_name)</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="@Html.DisplayFor(model => model.product_image)" class="image-popup"><img src="@Html.DisplayFor(model => model.product_image)" class="img-fluid" alt="Dia Supermarket"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3 class="text-capitalize">@Html.DisplayFor(model => model.product_name)</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <span class="text-green mr-2">@ViewBag.AvgRating / 5.0</span>
                        @*<a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>*@
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">@ViewBag.Ratings <span style="color: #bbb;">Ratings</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">@ViewBag.Sold <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span>PKR @Html.DisplayFor(model => model.price)</span></p>
                <p>
                    <span class="text-green">@Html.DisplayFor(model => model.tb_Categories.cat_name)</span>
                </p>
                <p>
                    @Html.DisplayFor(model => model.long_description)
                </p>
                <div class="row mt-4">
                    <div class="w-100"></div>
                    <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="" onclick="DecreaseQty()">
                                <i class="ion-ios-remove"></i>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="" onclick="IncreaseQty()">
                                <i class="ion-ios-add"></i>
                            </button>
                        </span>
                        <script>
                            function DecreaseQty() {
                                document.getElementById("quantity").value--;
                                ValidQty();
                            }
                            function IncreaseQty() {
                                document.getElementById("quantity").value++;
                                ValidQty();
                            }
                            function ValidQty() {
                                if (document.getElementById("quantity").value <= 0) {
                                    document.getElementById("quantity").value = 1;
                                }
                                else if (document.getElementById("quantity").value > 100) {
                                    document.getElementById("quantity").value = 100;
                                }
                            }
                        </script>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <p style="color: #000;"><b class="text-green">@Html.DisplayFor(model => model.stock)</b> units available</p>
                    </div>
                </div>
                <p><a href="cart.html" class="btn btn-primary py-3 px-5">Add to Cart</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Products</span>
                <h2 class="mb-4">Related Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.RelatedProducts)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="@Url.Action("SingleProduct", "Home", new { id = item.product_id })" class="img-prod">
                            <img class="img-fluid" src="@item.product_image" alt="Dia Supermarket">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">@item.product_name</a></h3>
                            <p>
                                @item.tb_Categories.cat_name
                            </p>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>PKR @item.price</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

